.welcome{
    position: relative;
    font-family: Arial;
}
.img1{
    
    padding-left: 50%;

}

.welcometext{
    position: absolute;
    color: rgb(209, 221, 221);
    top: 50px;
    left: 20%;
    background: transparent;
    color: aliceblue;
    font-size: 30px;
    size-adjust: 100%;
}

.welcometext2{
    position: absolute;
    top: 270px;
    left: 8%;
    background: transparent;
    color: white;
    width: 700px;
    font-size: 30px;
    text-justify: auto;
}

.SpeMen{
    font-size: 50px;
    padding-left: 40%;
    padding-top: 40px;
    color: aliceblue;
}

.Special_Menu{
    position: relative;
    padding-top: 50px;
}

.soup{
    position: absolute;
    padding-left: 50%;
}

.Soup_Header{
    position: absolute;
    color: rgb(209, 221, 221);
    left: 13%;
    background: transparent;
    color: aliceblue;
    font-size: 30px;
    size-adjust: 100%;
}

.Soup_describtion{
    position: absolute;
    left: 8%;
    background: transparent;
    padding-top: 160px;
    color: white;
    width: 700px;
    font-size: 15px;
    text-justify: auto;
}

.shank_div{
    position: relative;
    padding-top: 600px;
}

.shankimg{
    position: absolute;
    padding-left: 50%;
}

.shank_Header{
    position: absolute;
    color: rgb(209, 221, 221);
    left: 13%;
    background: transparent;
    color: aliceblue;
    font-size: 30px;
    size-adjust: 100%;
}

.shank_describtion{
    position: absolute;
    left: 8%;
    background: transparent;
    padding-top: 160px;
    color: white;
    width: 700px;
    font-size: 15px;
    text-justify: auto;
}

.vegetable_div{
    position: relative;
    padding-top: 600px;
}

.vegetableimg{
    position: absolute;
    padding-left: 50%;
}

.vegetable_Header{
    position: absolute;
    color: rgb(209, 221, 221);
    left: 13%;
    background: transparent;
    color: aliceblue;
    font-size: 30px;
    size-adjust: 100%;
}

.vegetable_describtion{
    position: absolute;
    left: 8%;
    background: transparent;
    padding-top: 160px;
    color: white;
    width: 700px;
    font-size: 15px;
    text-justify: auto;
}